# AWS 
S3_BUCKET_NAME=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=us-east-1

# PostgreSQL Data Warehouse Credentials
DB_WAREHOUSE_HOST=postgres-warehouse
DB_WAREHOUSE_PORT=5432
DB_WAREHOUSE_NAME=ecom_warehouse
DB_WAREHOUSE_USER=warehouse_user
DB_WAREHOUSE_PASSWORD=warehouse_password

# Kafka Producer
KAFKA_TOPIC=orders.raw
KAFKA_BOOTSTRAP_SERVERS=kafka-broker:9092
# "test" = 100 rows at 5 rows/sec (~20 seconds, use to verify pipeline)
# "full" = entire dataset at 200 rows/sec (~50 minutes)
PRODUCER_MODE=test